/* Place custom css here. */

.post-content a {
    padding-bottom: 0.1rem;
    font-weight: 500;
    border-bottom: 1px solid var(--pro);
}


.post-content blockquote {
    padding: 0 0 0 4rem;
    margin: 0 0 0 0;
    border-left: 0.4rem solid ;
}

/* code formatting */
.post-content pre code {
    display: block;
    padding: var(--gap);
    margin-inline: 0;
    color: #000000;
    border-radius: 0em;
    background: #efefef !important;
    font-size: 0.9em;
}

.post-content code{
    font-size: 0.9em;
}

.post-content pre {
    background: #efefef !important;
}

.post-content .highlight {
    background: #ffffff !important;
}
